<mc-loading *ngIf="isLoading$ | async"></mc-loading>

<mc-error-message *ngIf="error$ | async"></mc-error-message>

<div *ngIf="feed$ | async">
  <div
    class="article-preview"
    *ngFor="let article of (feed$ | async)?.articles"
  >
    <div class="article-meta">
      <a [routerLink]="['/profiles', article.author.username]">
        <img [src]="article.author.image" alt="profile avatar" />
      </a>
      <div class="info">
        <a [routerLink]="['/profiles', article.author.username]" class="author">
          {{ article.author.username }}
        </a>
        <span class="date">{{ article.createdAt }}</span>
      </div>
      <div class="pull-xs-right">
        <mc-add-to-favorites
          [isFavorited]="article.favorited"
          [articleSlug]="article.slug"
          [favoritesCount]="article.favoritesCount"
        ></mc-add-to-favorites>
      </div>
    </div>
    <a [routerLink]="['/articles', article.slug]" class="preview-link">
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <span>Read more...</span>
      <mc-tag-list [tags]="article.tagList"></mc-tag-list>
    </a>
  </div>
  <mc-pagination
    [total]="(feed$ | async)?.articlesCount"
    [limit]="limit"
    [url]="baseUrl"
    [currentPage]="currentPage"
  ></mc-pagination>
</div>
